#content {
	background-color: #f0f1f5;
}
a, a:active, a:focus, a:hover  {
	color: #7e0e09;
}

.navbar-nav {
	padding: 0.5%;
	padding-left: 1%;
}

.top-menu {
	height: 10%;
}

.breadcrumb>li, .breadcrumb>li a {
    color: #ffffff;
}

.breadcrumb-item.active {
    color: #efe729;
}

category-table {
	margin-bottom: 1%;
}

.forum-content {
	background-color: white;
}

h3 {
	margin-bottom: 2%;
}

#data-table-select {
	margin: 2% 0 2%!important;
	background-color: white;
}

.row.category-header {
	margin-bottom: 1%;
}

.row.category-header img {
	max-width: 50px; max-height: 50px; margin-right: 1%;
}                                                                                                                                                                                                                                                                                            

#view-all {
	margin-top: 5%;
	margin-right: 0;
	font-size: 14px;
}

.category-more-topic {
	margin-bottom: 2%;
}

.category-more-topic a, #view-all a {
	color: #7e0e09;
}

#data-table-select thead {
	display: none;
}

#category-header-icon {
	height: 50px;
}

#discussion-form {
}