body {
	background-color: #ffffff;
	font-size: 14px;
}

#content-profile {
	margin: 0;
	padding: 0;
}

.post-title-name a {
	font-size: 18px;
}

#timeline-content {
	margin: auto;
	width: 80%;
	background-color: #eeeeee;
	padding: 0.5%;
}

#timeline-home-timeline {
	position: relative;
}

#profile-photo {
	background-color: yellow;
	border-radius: 250px; 
	height: 250px;
	width: 250px;  
	display: block;
	margin: 10% auto 0 25%;
}

#profile-photo img {	
	width: 100%;
	height: 100%;
	border-radius: inherit;
	border: 2px solid white;
}

#profile-content {
	width: 100%;
	height: 500px;
	background-color: #ffffff;
	padding: 1%;
}


#profile-left {
	width: 100%;
	background-color: white;
	margin: 2%;
	margin-left: 0;
	margin-top: 0;
	padding-top: 15%;
	float: left;
	text-align: center;
	border-radius: 10px;
}

#profile-info {
	padding: 5%;
}

#profile-activities {
	margin-left: 1%;
	width: auto;
	background-color: #eeeeee;
	padding-top: 0;
}

#profile-activities a {
	color: #7e0e09;
}

.post-header {
	padding-bottom: 10px;
    border-bottom: 1px solid #e2e7eb;
    line-height: 30px;
    margin: 2%;
}

table tr {
	margin-bottom: 1%;
}

#timeline-posts li {
	list-style-type : none;
}

.timeline-single-post {
	list-style-type : none;
	background-color: white;
	padding: 2%;
	margin: 1%;
	border-radius: 10px;
}

#timeline-posts-header {
	background-color: white;
	padding: 1%;
	margin: 1%;
	border-radius: 10px;
}

#profile-activities li {
	list-style-type : none;
}

#profile-activities ul {
	background-color: white;
	padding: 2%;
	margin: 1%;
	border-radius: 10px;
}

#profile-posts-header {
	background-color: white;
	padding: 2%;
	margin: 1%;
	margin-top: 0;
}

.header {
	height: 10%;
}

.header .navbar-brand {
	padding-top: 5px;
}

li .user img {
	border-radius: 36px;
	height: 36px;
	width: 36px;
}

.timeline-single-post .post-reactions {
	display: inline-block;
}

.timeline-single-post .post-reactions a {
	color: gray;
}

#sidebar {
	margin-top: 0.5%;
}
	       .btn.btn-yellow {
	color: #7e0e09;
	background: #fdea08;
	border-color: #fdea08;
	}

	.btn.btn-yellow>a {
	color: #7e0e09;
    text-decoration: none;
	}

	.btn-yellow.active, .btn-yellow:active, .btn-yellow:focus, .btn-yellow:hover, .open .dropdown-toggle.btn-yellow {
    background: #efd101;
    border-color: #efd101;
    text-decoration: none;
	}

.post-container {
	padding: 1%;
	width: 70%;
	background-color: white;
}

#post-reactions a {
	color: gray;
}

#post-reactions a:hover {
	color: #7e0e09;
	text-decoration: none;
}

#inquiry-panel {
	margin-top: 5%;
}

.user img {
	border-radius: 36px;
	height: 36px;
	width: 36px;
}

.content {
	margin-left: 0;
}

.top-menu {
	position: initial;
}

.comment-box {
	padding: 2% auto 5%;
	min-height: 50px;
}

.comment-box img{
	vertical-align: middle;
	display: inline-block;
	height: 100%
}

.btn.btn-maroon {
	color: white;
	background: #7e0e09;
}

.top-menu {
	background: #7e0e09;
}

.top-menu .nav > li.active > a, .top-menu .nav > li.active > a:focus, .top-menu .nav > li.active > a:hover {
    background: #7e0e09;
}
.top-menu .nav>li.active>a, .top-menu .nav>li.active>a:focus, .top-menu .nav>li.active>a:hover {
    background: #7e0e09;
    color: #f5f22f;
}

.top-menu .nav>li>a {
    color: #fff;
}

.dropdown-menu {
	background-color: #7e0e09;
}

.dropdown-item:focus, .dropdown-item:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background: #81000a;
    color:#e6e6e6;
}

.dropdown-item, .dropdown-menu>li>a {
    display: block;
    padding: 5px 15px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #fff;
    white-space: nowrap;
    text-decoration: none;
}

.post-header {
	text-align: center;
}

.post-header img {
	width: 30px;
	height: 30px;
	border-radius: 30px;
	margin-right: 2%
}

.home-announcements-events {
	padding: 3%;
	background-color: #ffffff;
}

.table-home-announcements>tbody>tr>td {
	padding: 3%;
}

.content.announcement-view-content {
	padding: 3%;
	text-align: justify;
	background-color: white;
}

.content.announcement-view-content a {
	color: #7e0e09;
}

.announcement-item {
	margin: 2% 0;
}

.content.event-view-content {
	padding: 3%;
	text-align: justify;
	background-color: white;
}

.content.event-view-content a {
	color: #7e0e09;
}

.event-item {
	margin: 2% 0;
}

.badge.badge-yellow, .label.label-yellow {
	background: #FFEB3B;
	color: #000;
}

.badge.badge-green, .label.label-green {
	background: #4CAF50;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.post-title {
	padding: 2%;
	margin: 0,
	background-color: #7e0e09;
}

.post-content-preview {
	margin: 2%;
}

.user-home-content {
	background-color: #eeeeee;
}

.user-home-content a {
	color: #7e0e09;
}
.table-notification {
	font-size: 14px;
}

li .user-activity-timestamp {
	color: gray;
	margin-left: 5%;
}

#content-profile .col-md-4 {
}

#content-profile .col-md-8 {
	background-color: #eeeeee;
}

.sidebar {
	margin-top: 10%
}